{% extends 'app/base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container">
        <h3>Hvala vam {{ order.fname }} {{ order.lname }} na vašoj kupovini!</h3>
    </div>
{% endif %}

{% endblock %}
