{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="date">
        {{ image.pub_date }}
      </div>
      {% include "includes/vote_buttons.html" with image=image vote=vote %}
      <h2>{{ image.title }}</h2>
      <img class="app-fit" src="{{image.url}}" alt=""/>

      <div class="mt-4 row">
          <h2>Cijena:&nbsp;</h2>
          <h3>{{ image.price }}</h3>
          {% if user.is_authenticated %}
            <div class="col">
              <a href="{% url 'app:order' image.id %}" class="btn btn-warning">Kupi</a>
            </div>
          {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <h3>Description</h3>
      <p>{{ image.description|linebreaksbr }}</p>
      <h3>Comments</h3>
      {% for comment in comments %}
        <div class="border comment">
          
          <p class="red">
            Author: {{ comment.author }} ({{comment.created_at}})
          </p>
          <p class="secondary">
            {{ comment.text }}
          </p>
          {% if user.is_authenticated %}
          <form action="{% url 'app:likebtn' comment_id=comment.id image_id=image.id %}" method="post" class="">
            {% csrf_token %}
            <input class = "btn btn-lg btn-primary" type="submit" value="Like">
            </form>
            <label>{{ comment.like_score }}</label>
          {% endif %}
          {% if user.is_superuser and not comment.is_approved %}
          <form action="{% url 'app:approve' comment.id %}" method="post" class="">
          {% csrf_token %}
          <input class = "btn btn-lg" type="submit" value="Approve comment">
          </form>
          {% endif %}
        </div>
      {% endfor %}

      {% if user.is_authenticated %}
      <h2>Post a comment</h2>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <form action="{% url 'app:comment' image.id %}" method="post" class="border">
        {% csrf_token %}
        {% include "includes/bs4_form.html" with form=form %}
        <input type="submit" value="Post Comment" class="btn btn-lg btn-primary btn-block"/>
      </form>
      {% endif %}

      
    </div>
  </div>
</div>
{% endblock %}
