{% extends 'app/base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ image.url }}" width="500px">
        </div>
        <div class="col">
                <h1>{{ image.title }}</h1>
        </div>

        </div class="row">
            <div class="w-75 mx-auto col mt-5">

                <form action="{% url 'app:checkout' image.id %}" method="post" class="border p-4">
                    {% csrf_token %}
                    {% include "includes/bs4_form.html" with form=form %}
                    <div class="d-flex justify-content-end">
                        <input type="submit" value="Kupi" class="btn btn-lg btn-success w-25"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
    <h1>Za kupnju morate biti ulogirani!</h1>
{% endif %}

{% endblock %}
