h1 {
    color: red;
}

.index--thumb img{
    width: 200px;
    height: auto;
}

.img-small {
    width: 150px;
    height: 150px;
}

.comment {
    border-bottom: 1px solid black;
}

.comment p:first-of-type {
    color: grey;
    font-size: 105%;
    text-decoration: underline;
}

.comment p {
    color: black;
    font-size: 115%;
    font-weight: bold;
}
