{% extends 'app/base.html' %}

{% block content %}

<form class="form" method="post" action="{% url 'app:new' %}">
	{% csrf_token %}
	<h3>Add new image</h3>
	<label for="title">Title: </label>
	<input id="title" type="text" name="title">
	<br>
	<label for="img_url">Image url: </label>
	<input id="img_url" type="text" name="img_url">
	<br>
	<label for="description">Description: </label>
	<input id="description" type="text" name="description">
	<br>
	<label for="date">Date: </label>
	<input id="date" type="date" name="date">
	<br>
	<button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
