<div class="border comment">
	<p class="red">Posted by <a href="{% url 'accounts:accounts' comment.user.id %}">{{ comment.author }}</a> on {{ comment.created_at }} <strong>{{ message }}</strong></p>
	<p class="secondary">{{ comment.text }}</p>
</div>
