<div>
	{% if user.is_authenticated and likeable %}
	<form
		action="{% url 'app:like_comment' comment.id %}"
		method="post"
		role="form"
		aria-label="form"
		class="form-inline float-right"
	>
		{% csrf_token %}
		<button type="submit" class="btn {{ like.like|yesno:'btn-success,btn-secondary' }}">
			+
		</button>
	</form>
	{% endif %}
	<span class="vote-score float-right display-4">Likes: {{ comment.like_score }}</span>
</div>
