{% if user.is_authenticated %}
<div>
	<form
		action="{% url 'app:upvote' image.id %}"
		method="post"
		role="form"
		aria-label="form"
		class="form-inline float-left"
	>
		{% csrf_token %}
		<button type="submit" class="btn {{ vote.upvote|yesno:'btn-success,btn-secondary' }}">
			+
		</button>
	</form>
	<span class="vote-score float-left">{{ image.vote_score }}</span>
	<form
		action="{% url 'app:downvote' image.id %}"
		method="post"
		role="form"
		aria-label="form"
		class="form-inline float-left"
	>
		{% csrf_token %}
		<button type="submit" class="btn {{ vote.downvote|yesno:'btn-danger,btn-secondary' }}">
			-
		</button>
	</form>
</div>
{% endif %}
