{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
		<title>My Lame Imgur</title>

		{% block extrahead %}
		{% endblock %}

		<link rel="stylesheet" href="{% static 'app/css/app.css' %}">
	</head>
	<body>
		<div class="page-header">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">My Lame Imgur</a>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
					</ul>
				</div>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						{% if user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'accounts:accounts' user.id %}">Hi {{ user.username }}!</a>
							</li>
							{% if user.is_superuser %}
								<li class="nav-item">
								<a class="nav-link" href="/admin">Admin Dashboard</a>
							</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'logout' %}">Logout</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'login' %}">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a>
							</li>
						{%  endif %}
					</ul>
				</div>
			</nav>
		</div>

		<div class="content container">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron fluid-jumbotron">
						<div class="container">
							<h1 class="display-4">My Lame Imgur</h1>
							<p class="lead">Your one stop place for posting your lamest images!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
