{% extends 'app/base.html' %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% if action == 'create' %}
				<h2 class="text-center">Submit new image</h2>
			{% elif action == 'update' %}
				<h2 class="text-center">Edit image</h2>
			{% endif %}
		</div>
	</div>

	<form method="post">
		{% csrf_token %}
		{% include 'includes/bs4_form.html' with form=form %}
		<div class="row">
			<div class="col-md-8 mx-auto">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
{% endblock %}
