{% extends 'app/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="date">
				Posted by <a href="{% url 'accounts:accounts' image.user.id %}">{{ image.user }}</a> on {{ image.pub_date }}
			</div>
			{% include 'includes/vote_buttons.html' with image=image vote=vote user=user %}
			<h2>{{ image.title }}</h2>
			<img class="app-fit" src="{{ image.url }}" alt=""/>
		</div>
		<div class="col-md-6">
			<h3>Description</h3>
			<p>{{ image.description|linebreaksbr }}</p>
			<h3>Comments</h3>

			{% for comment, like in comments_with_likes %}
				{% if user.is_superuser %}
						{% if comment.approved %}
							{% include 'includes/like_button.html' with comment=comment like=like likeable=True %}
						{% endif %}
						{% include 'includes/comment.html' with comment=comment message=comment.approved|yesno:',[Not approved]' %}
						{% if not comment.approved %}
							{% include 'includes/approve_button.html' with comment=comment image=image %}
						{% endif %}
				{% elif comment.user.id == user.id %}
					{% if comment.approved %}
						{% include 'includes/like_button.html' with comment=comment like=like likeable=True %}
					{% endif %}
					{% include 'includes/comment.html' with comment=comment message=comment.approved|yesno:',[Your comment is waiting for approval...]' %}
				{% elif comment.approved %}
					{% include 'includes/like_button.html' with comment=comment like=like likeable=True %}
					{% include 'includes/comment.html' with comment=comment message='' %}
				{% endif %}
			{% endfor %}

			{% if user.is_authenticated %}
				<h2>Post a comment</h2>
				{% if error_message %}
					<p><strong>{{ error_message }}</strong></p>
				{% endif %}

				<form action="{% url 'app:comment' image.id %}" method="post" class="border">
					{% csrf_token %}
					{% include 'includes/bs4_form.html' with form=form %}

					<button type="submit" class="btn btn-primary btn-lg btn-block">
						Post comment
					</button>
				</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
