{% extends 'app/base.html' %}

{% block content %}

	{% if user.is_authenticated %}
		<div class="row">
			<div class="col-md-10">
				<p>
					<a href="{% url 'app:create_image' %}">Submit new image</a>
				</p>
			</div>
		</div>
	{% endif %}

	{% for image, vote, approval in images_with_votes_and_approvals %}
		<div class="row">
			<div class="col-md-2">
				<img class="app-fit" src="{{image.url}}" alt=""/>
			</div>
			<div class="col-md-10">
				<div class="date">
					<p class="red">
						Score: {{ image.vote_score }}; Posted by: <a href="{% url 'accounts:accounts' image.user.id %}">{{ image.user }}</a>; Published: {{ image.pub_date }};  Comments: {{ approval }}
						{% if user.is_superuser %}
							<a href="{% url 'app:edit_image' image.id %}">Edit</a>
							&nbsp;|&nbsp;
							<a href="#" id="delete_{{ image.id }}">Delete</a>
						{% elif user.id == image.user.id %}
							<a href="{% url 'app:edit_image' image.id %}">Edit</a>
							&nbsp;|&nbsp;
							<a href="#" id="delete_{{ image.id }}">Delete</a>
						{% endif %}
					</p>
					{% include 'includes/delete_image_link.html' with image=image %}
				</div>
				{% include 'includes/vote_buttons.html' with image=image vote=vote user=user %}
				<h2><a href="{% url 'app:detail' image.id %}">{{ image.title }}</a></h2>
				<p>{{ image.description|linebreaksbr }}</p>
			</div>
		</div>
	{% endfor %}

{% endblock %}
