{% extends 'app/base.html' %}

{% block content %}

<div class="row mb-3">
	<h1>Profile: {{ user }}</h1>
</div>

<div id="accordion">
	<div class="card">
		<div
			class="card-header"
			id="headingOne"
		>
			<h5 class="mb-0">
				<button
					class="btn btn-link collapsed"
					data-toggle="collapse"
					data-target="#collapseOne"
					aria-expanded="false"
					aria-controls="collapseOne"
				>
					Images
				</button>
			</h5>
		</div>

		<div
			id="collapseOne"
			class="collapse"
			aria-labelledby="headingOne"
			data-parent="#accordion"
		>
			<div class="card-body">
				<div class="col-12">
					{% if not images %}
						<p>User hasn't posted any images...</p>
					{% else %}
						{% for image in images %}
							<div class="row">
								<span class="vote-score float-left">Score: {{ image.vote_score }}</span>
								<a href="{% url 'app:detail' image.id %}">
									<img
										style="width: 15rem; height: auto"
										class="m-2 border border-dark rounded"
										src="{{ image.url }}"
										alt="{{ image.description }}"/>
								</a>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div
			class="card-header"
			id="headingTwo"
		>
			<h5 class="mb-0">
				<button
					class="btn btn-link collapsed"
					data-toggle="collapse"
					data-target="#collapseTwo"
					aria-expanded="false"
					aria-controls="collapseTwo"
				>
					Comments
				</button>
			</h5>
		</div>
		<div
			id="collapseTwo"
			class="collapse"
			aria-labelledby="headingTwo"
			data-parent="#accordion"
		>
			<div class="card-body">
				<div class="w-100">
					{% if not comments %}
						<p>User hasn't posted any comments...</p>
					{% else %}
						{% for comment in comments %}
							{% if comment.approved %}
								<div class="border comment">
									{% include 'includes/like_button.html' with comment=comment like=like likeable=False %}
									<p class="red">
										Posted on {{ comment.created_at }} to
										<a href="{% url 'app:detail' comment.image.id %}">
											{{ comment.image.description }}
										</a>
									</p>
									<p class="secondary">{{ comment.text }}</p>
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
