{% extends 'images/base.html' %}

{% block content %}
    <h1>{{ image.title }}</h1>

        <div class="image">
            <img src="{{ image.url }}" alt="{{ image.title }}">
        </div>

{% endblock %}
