{% extends 'imgs/base.html' %}

{% block content %}
<h1>My Imgur</h1>
{% if all_comments %}
    {% for comment in all_comments %}
        <div>
            <p><strong>{{ comment.nick }}</strong></p>
            <p>{{ comment.text }}</p>
            <p>
                <small>
                    Komentar na:
                    <a href="{% url 'detail' comment.image.id %}">
                        {{ comment.image.title }}
                    </a> od {{ comment.image.pub_date }}
                </small>
            </p>
            <img src="{{ comment.image.url }}" class="img-small" alt="{{ comment.image.title }}">
            <br>
            <br>
        </div>
    {% endfor %}
{% else %}
    <p>No comments in database!</p>
{% endif %}
{% endblock %}
